body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  transform: translateY(1px);
}

.arrowButton{
    background: none;
    border: none;
    cursor: pointer;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.43);
  font-size: 20px;
  width: 50%;
}

.column label{
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.error{
  font-size: 20px;
  color: red;
  text-align: center;
}

.header{
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.table {
  border-collapse: collapse;
  width: 90%;
}

.table td, .table th {
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4d73ab;
  color: white;
}

.tableContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
